p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

p {
    margin: 25px 50px 75px 100px;
}

div {
    width: 300px;
    margin: auto;
    border: 1px solid red;
}

div {
    border: 1px solid red;
    margin-left: 100px;
}
  
p.ex1 {
    margin-left: inherit;
}

h1 {
    margin: 0 0 50px 0;
}
  
h2 {
    margin: 20px 0 0 0;
}

