h1 {
    text-align: center;
}
  
h2 {
    text-align: left;
}
  
h3 {
    text-align: right;
}

div {
    text-align: justify;
}

p.a {
    text-align-last: right;
}
  
p.b {
    text-align-last: center;
}
  
p.c {
    text-align-last: justify;
}

p {
    direction: rtl;
    unicode-bidi: bidi-override;
}

img.a {
    vertical-align: baseline;
}
  
img.b {
    vertical-align: text-top;
}
  
img.c {
    vertical-align: text-bottom;
}
  
img.d {
    vertical-align: sub;
}
  
img.e {
    vertical-align: super;
}

h1 {
    text-decoration-line: overline;
}
  
h2 {
    text-decoration-line: line-through;
}
  
h3 {
    text-decoration-line: underline;
}
  
p {
    text-decoration-line: overline underline;
}

h1 {
    text-decoration-line: overline;
    text-decoration-color: red;
}
  
h2 {
    text-decoration-line: line-through;
    text-decoration-color: blue;
}
  
h3 {
    text-decoration-line: underline;
    text-decoration-color: green;
}
  
p {
    text-decoration-line: overline underline;
    text-decoration-color: purple;
}

h1 {
    text-decoration-line: underline;
    text-decoration-style: solid;
}
  
h2 {
    text-decoration-line: underline;
    text-decoration-style: double;
}
  
h3 {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
  
p.ex1 {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}
  
p.ex2 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
  
p.ex3 {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
}

h1 {
    text-decoration-line: underline;
    text-decoration-thickness: auto;
}
  
h2 {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}
  
h3 {
    text-decoration-line: underline;
    text-decoration-thickness: 25%;
}
  
p {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
}

h2 {
    text-decoration: underline red;
}

a {
    text-decoration: none;
}

p.uppercase {
    text-transform: uppercase;
}
  
p.lowercase {
    text-transform: lowercase;
}
  
p.capitalize {
    text-transform: capitalize;
}

p {
    text-indent: 50px;
}

h1 {
    letter-spacing: 5px;
}
  
h2 {
    letter-spacing: -2px;
}

p.small {
    line-height: 0.8;
}
  
p.big {
    line-height: 1.8;
}

p.one {
    word-spacing: 10px;
}
  
p.two {
    word-spacing: -2px;
}

p {
    white-space: nowrap;
}

h1 {
    text-shadow: 2px 2px 5px red;
}

h2 {
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}