@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewBag.Student</h1>
<form asp-action = "Index">
    <label>Nhập mã sinh viên: </label>
    <input type="text" name = "MaSinhVien">
    <label>Nhập họ tên: </label>
    <input type="text" name = "HoTen">
    <input type="submit" value = "Send">
</form>